header{
    color: white;
    background-color: rgb(116, 4, 4);
    padding: 10px;
    text-align: center;
    h1{
        display: inline;
        align-items:center;
    }
}

#list_menu{
    list-style-type: none;
    display: inline-flex;
    align-items:center;
    padding: 1em;
    flex-wrap: wrap;
    li{
        padding: 0.5rem;    
        font-size:large;
        margin: 0.5rem;
        border-radius: 30rem;
        background-color: rgb(189, 7, 7);
        transition: padding 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
    }
    li:hover{
        background-color: rgb(252, 8, 8);
    }
    a{
        color: white;
        text-decoration: none;
    }

} 
footer{
    color: white;
    background-color: rgb(116, 4, 4);
    padding: 10px;
    a{
        text-decoration-line: none;
        color:white
    }
}

h3{
    text-decoration: underline;
    font-weight: bold;
}

li{
    font-weight:600;
}

.image{
    display: flex;
    align-items: flex-start;
    width: 220px;
    height: 220px;
    object-fit: contain;
    box-shadow:
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
        100px 100px 80px rgba(0, 0, 0, 0.07)
    ;
    border-radius: 6px;
}

body{
    background-color: white;
    display: flexbox;
    .lien_cjp{
        font-size:0.6rem;
    }
    ul{
        display: inline-flex;
        align-items:center;
        /* padding: 2.5rem; */
        flex-wrap: wrap;
     }
     li{
        /* padding-left:220px; */
        display:inline-block;
        align-items:baseline;
    } 
    #Informations{
        padding: 2px;
        background-color: #e5e7e6;

    }
}    

@media screen and (min-width: 800px) {
        body{
            .lien_cjp{
                font-size:larger;
            }
            ul{
                li{
                    padding-left: 220px;
                }
            }
        }
        .image{
            width: 300px;
            height: 300px;
        }
    }

    .instagram-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit; /* Garde la couleur du texte par défaut */
    }
    
    .instagram-logo {
        width: 24px;
        height: 24px;
        margin-right: 8px; /* Espace entre le logo et le texte */
    }
    